/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.
 */

/**********footer********/
footer {
    margin: 0;
    padding: 0;
    border: none;
    padding: 0;
    width: 100%;
    max-width: 100%;
}
.footcolumns {
    padding-top: 50px;
    padding-bottom: 50px;
}
.footcolumns * {
    color: #fff;
}