
/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.
 */

/**********header********/

/*navbar default overrides - bootstrap*/
.navbar-default {
    background-color:#fff;
    border-color: transparent;
    border: none;
}

/*override max-width*/
.navbar-default {
    left: 50%;
    margin-left: -50vw;
    width: 100vw;
    max-width: 100%;
    padding: 0 50px;
    position: relative;
}

/*navigation*/
.region-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media screen and (min-width:768px) {
    .navbar-collapse {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 300px;
    }
}

.navbar-default .navbar-nav > li > a {
    color: #000;
    font-size:1.125rem;
    font-weight: 500;
/*    for hover*/
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}
.navbar-default .navbar-nav > li > a:before {
/*    for hover*/
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #196fe3;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.navbar-default .navbar-nav > li > a:hover:before, .navbar-default .navbar-nav > li > a:focus:before {
    left: 0;
    right: 0;
}

/*SEARCH OVERLAY*/
.search-block-form {
    display: none; 
/*temporary*/
}