
/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.
 */

/**********header********/
/*region navigation*/
.navbar-default {
    background:#707479;
    background-color:#707479;
    border-radius: 0;
    padding: 20px;
}
@media screen and (min-width:768px) {
    header {
        display: flex;
    }
}